.container{
    background-color: rgba(51, 51, 51, 0.8);
    color:white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    font-size: 1.5rem!important;
    text-align: center;
    line-height: 1.5rem;
    margin: 1rem;
    text-decoration: double underline;
    font-family: 'Press Start 2P', cursive;
    text-decoration-thickness: 0.1rem;
    
}
.container h5{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
    margin: 1rem;
}
.container li{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
    margin: 1rem;
}
.container img{
    border-radius: 20px;
    width: 30rem;
}