@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.juegos{
    display:flex;
    width: 22%;
    height: 30vh;
    border-radius: 30px;
    color: white;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 0.5rem!important;
    transition: opacity 0.3s, transform 0.3s;
    animation: fadeIn 0.5s ease-in-out backwards;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.juegos:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.juegos a {
    text-decoration: none; 
    color: inherit; 
  }
.juegos h3:not(a){
    font-size: 0.8rem!important;
    text-align: center;
    line-height: 1.5rem;
    margin-top: 1rem;
    text-decoration: double underline;
    text-decoration-thickness: 0.1rem;
}
.juegos h4{
    text-align: center;
    margin-top: 0.2rem;
    line-height: 0.5rem;
}

.juegos img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.nose{
    width: 80%;
    height: 50%;
    margin: 0.5rem;
    border-radius: 20px;
}